<div class="continer">
  <h1>All Articles</h1>
</div>
<hr/>

<% @articles.each do |article| %>
  <div class="container">
    
    <div class="col-lg-8 well article_area">
      <div class="picture">
        <%= image_tag(article.picture.url, size: "250x150", class: "img-response") if article.picture? %>
      </div>
      <h4><%= link_to article.title, article_path(article) %></h4>
      <p><%= article.content %></p>
      <p>
        <span class="quiet"><small> <%= time_ago_in_words(article.created_at) %> ago</small></span>
      </p>
    </div>
  </div>
  
  
<% end %>


