<div class="search_area">
  <%= text_field_tag :search, params[:search], class: "search_bar", placeholder: "Search Articles" %>
</div>

<div class="container">
  <div class="home_area">
    <% @articles.each do |article| %>
        <p><%= link_to article.title, article_path(article) %></p>
    <% end %>
  </div>
</div>
