@import "bootstrap-sprockets";
@import "bootstrap";

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  line-height: 44px;
  color: #333333;
  font-weight: 200;
}

h2 {
  font-size: 32px;
  line-height: 27px;
  color: #333333;
  font-weight: 200;
}

a {
  font-size: 18px;
  line-height: 26px;
  color: #0088cc;
  font-weight: 300;
}

a:hover {
  text-decoration:none;
  color: #0088cc;
}


$navbar-default-bg: #321321;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

#logo {
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

#logo:hover{
  color: white;
}

.nav {
  background-color: #333333;
  height:50px;
  color: #ffffff;
}

.nav a{
  color: #ffffff;
}

.article_area {
  margin-left: auto;
  margin-right: auto;
  float: center;
}


.nav_item {
  margin-left: 25px;
  float: left;
}

.nav-menu {
  text-decoration: none;
}

.nav-menu a {
  
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_article {
  margin: 10px 10px 10px 10px;
}

.picture {
  width: 100%;
}

.page_margin_top {
  margin-top: 5%;
  width: 100%;
}

.page_margin_top h1{
  width: 100%;
  text-align: center;
}

